certifi==2017.4.17
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.3
django-webpack-loader==0.5.0
djangorestframework==3.6.3
gunicorn==19.7.1
idna==2.5
npm==0.1.1
optional-django==0.1.0
Pygments==2.2.0
pytz==2017.2
requests==2.18.1
urllib3==1.21.1
virtualenv==15.1.0
webpack==6.0.0
